<h2>Sandbox</h2>
<div>

  <div class="container">
    <div class="search-box">
      <!-- Search box for Unsplash image search -->
      <app-unsplash></app-unsplash>

    </div>
    <div class="image-container">
      <!-- Container for images where you can drag and drop -->
      <div id="drop-area">
        Drag & drop images here
      </div>
      <!-- You can implement drag and drop functionality here -->
    </div>
  </div>

  <p class="login-prompt">Please <a routerLink="/login"><u>login</u></a> to create and save your vision.</p>


