<div class="container text-center">
  <h1>{{currentBoard.title}}</h1>
</div>
<div class="container">
  <div class="row">
    <!-- Iterate over the posts array -->
    <div class="col-sm-4" *ngFor="let post of posts; let i = index">
      <div class="grid-box">
        <ng-container *ngIf="!isNewPost[i]">
          <app-display-post [post]="post"></app-display-post>
        </ng-container>
        <ng-container *ngIf="isNewPost[i]">
          <app-post-form [boardId]="currentBoard.id" (save)="savePost(i)"></app-post-form>
        </ng-container>
      </div>
    </div>

    <!-- Plus button to add a new post -->
    <div class="col-sm-4">
      <div class="grid-box">
        <button (click)="addPost()" class="btn btn-primary"> + Add a new post </button>
      </div>
    </div>
  </div>
</div>
