<!--
<div *ngIf="userHasBoards">
<div class="container text-center">
  <h1>{{currentBoard.title}}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let post of posts">
      <app-display-post [posts]="posts"></app-display-post>
    </div>
  </div>
</div>


    <div class="col-sm-4">
      <div class="grid-box">
        <ng-container>
          <button (click)="showPostForm = !showPostForm" class="btn btn-primary"> + Add a new post </button>
          <app-post-form *ngIf="showPostForm" [boardId]="currentBoard.id" (addButtonClicked)="handleAddButtonClicked()"></app-post-form>
        </ng-container>
      </div>
    </div>

  </div>
</div>
</div>
<div *ngIf="!userHasBoards">
  <app-create-bord-form></app-create-bord-form>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <button class="btn btn-primary" (click)="createNewBoard()">Create New Board</button>
    </div>
  </div>
</div>
<div class="search-container">
  <input type="text" class="form-control" placeholder="Search for a user" [(ngModel)]="searchTerm" (input)="searchUsers()" />
</div>
-->

<h2>{{user.username}}</h2>

<app-create-bord-form (boardCreated)="onBoardCreated($event)"></app-create-bord-form>

<app-board-list [boards]="boards"></app-board-list>


