<div class="comment">
  <img src="profile.jpg" alt="Profile Picture" class="profile-picture">
  <div class="comment-content">
    <div class="comment-header">
      <span class="user-name">John Doe</span>
      <span class="comment-time">2 hours ago</span>
    </div>
    <p class="comment-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.
    </p>
    <div class="comment-actions">
      <button class="like-button">Like</button>
      <button class="reply-button">Reply</button>
    </div>
  </div>
</div>
