
<div class="wrapper">
  <h2>Registration</h2>
  <form action="#">
    <div class="input-box">
      <input type="text" placeholder="Enter your name" [(ngModel)]="newUser.password" required>
    </div>
    <div class="input-box">
      <input type="text" placeholder="Enter your email" [(ngModel)]="newUser.email" required>
    </div>
    <div class="input-box">
      <input type="password" placeholder="Create password" [(ngModel)]="newUser.password" required>
    </div>
    <div class="input-box">
      <input type="password" placeholder="Confirm password" [(ngModel)]="newUser.password" required>
    </div>
    <div class="policy">
      <input type="checkbox">
      <h3>I accept all terms & condition</h3>
    </div>
    <div class="input-box button">
      <button type="Submit" value="Register Now" class="btn btn-primary" (click)="register(newUser)">Register</button>
    </div>
    <div class="text">
      <h3>Already have an account? <a href="#">Login now</a></h3>
    </div>
  </form>
</div>
