/* Additional custom styles */
.profile-image {
  width: 200px;
  height: 200px;
  max-width: 200px; /* Set maximum width */
  max-height: 200px;
  border-radius: 50%; /* to make it circular */
  object-fit: cover;
}

.profile-name {
  font-size: 50px;
}

.update-link {
  text-decoration: none;
}

.delete-button {
  color: red; /* Make the text color red */
  background-color: transparent; /* Make the background transparent */
  border: none; /* Remove border */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Change cursor to pointer on hover */
}
