<div>
  <form (submit)="search()">
    <input type="text" [(ngModel)]="searchQuery" name="searchQuery" placeholder="Search collections">
    <button type="submit">Search</button>
  </form>
</div>


<div cdkDropList (cdkDropListDropped)="drop($event)" class="drop-zone">
  <p>Drag photos here</p>
</div>

<div *ngFor="let collection of collections">
  <h3>{{ collection.title }}</h3>
  <div *ngFor="let photo of collection.preview_photos" cdkDrag>
    <img [src]="photo.urls.small" [alt]="photo.alt_description">
  </div>
</div>
