<div>
  <form (submit)="search()">
    <input type="text" [(ngModel)]="searchQuery" name="searchQuery" placeholder="Find photos">
    <button type="submit">Search</button>
  </form>
</div>


<div cdkDropList (cdkDropListDropped)="drop($event)" class="drop-zone">
</div>


<div class="scroll-container">
  <div *ngFor="let collection of collections">
    <div *ngFor="let photo of collection.preview_photos">
      <div cdkDrag [cdkDragData]="photo">
        <img [src]="photo.urls.small" appDragToResize [alt]="photo.alt_description">
      </div>
    </div>
  </div>
</div>
