img {
  max-width: 100%; /* Ensure photos don't exceed their container's width */
  cursor: pointer; /* Set cursor to pointer by default */
}

img:active {
  cursor: grabbing; /* Change cursor to grabbing when holding click on the photo */
}

.bottom-right-corner:hover {
  cursor: nwse-resize; /* Change cursor to nwse-resize when hovering over the bottom-right corner */
}

.scroll-container {
  max-height: 300px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Optional: Adjust the image size */
.scroll-container img {
  max-width: 100%; /* Ensure images fit within the container */
}
